@font-face {
  font-family: 'prothin';
  src: url("../font/prothin.otf"); }

@font-face {
  font-family: 'promedium';
  src: url("../font/promedium.otf"); }

@font-face {
  font-family: 'prolight';
  src: url("../font/prolight.otf"); }

body, html {
  line-height: unset;
  font-size: unset; }

div {
  box-sizing: content-box;
  display: block; }

input {
  line-height: 0; }

label {
  max-width: unset;
  display: unset;
  margin-bottom: 0; }

:after, :before {
  box-sizing: unset !important; }

* {
  box-sizing: content-box; }

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px; }

img {
  vertical-align: unset; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.17em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: .83em; }

h6 {
  font-size: .75em; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  font-weight: bold; }

input, select, textarea {
  font-size: 13px !important; }

.loginPage {
  width: 100%;
  height: 100vh; }
  .loginPage .left {
    float: left;
    width: 50%;
    height: 100%;
    background: #f0336b;
    position: relative; }
    .loginPage .left .logo {
      position: absolute;
      top: 50%;
      right: -45px;
      transform: translate(-50%); }
  .loginPage .right {
    float: right;
    width: 50%;
    position: relative;
    height: 100%; }
    .loginPage .right .form {
      font-family: "prolight";
      position: absolute;
      top: 45%;
      left: 50px;
      margin-bottom: 50px; }
      .loginPage .right .form div {
        margin-bottom: 20px; }
      .loginPage .right .form label {
        display: block;
        margin-bottom: 5px;
        color: #b1b6ba; }
      .loginPage .right .form input {
        padding: 5px 10px;
        border: 1px solid #b1b6ba;
        border-radius: 4px;
        outline: none;
        font-family: "prolight"; }

.sidebar {
  width: 250px;
  height: auto;
  position: fixed;
  z-index: 22;
  z-index: 889;
  background: white;
  min-height: 100%;
  border-right: 1px solid #ededed; }
  .sidebar .activeLink {
    position: relative;
    background: #f8f8f8;
    font-weight: bold; }
    .sidebar .activeLink p {
      color: black !important; }
    .sidebar .activeLink:before {
      position: absolute;
      content: "";
      display: block;
      width: 5px;
      height: 100%;
      top: 0;
      left: 0;
      background: #f0336b; }
  .sidebar .head {
    width: 100%;
    height: 125px;
    background: #f0336b; }
    .sidebar .head .logo {
      position: relative;
      top: 35px;
      left: 20px; }
  .sidebar .links ul {
    padding: 0;
    margin-top: 0;
    list-style: none; }
    .sidebar .links ul li {
      padding: 10px 30px;
      font-family: "prolight";
      cursor: pointer;
      transition: .2s; }
      .sidebar .links ul li:hover {
        background: #f8f8f8; }
      .sidebar .links ul li a {
        text-decoration: none;
        color: black;
        display: block; }
      .sidebar .links ul li img, .sidebar .links ul li p {
        display: inline-block;
        position: relative; }
      .sidebar .links ul li img {
        top: 10px; }
      .sidebar .links ul li p {
        left: 15px;
        color: #a4aaae;
        letter-spacing: 1px; }

.topBar {
  width: 100%;
  height: 60px;
  position: fixed;
  padding-top: 10px;
  z-index: 888;
  background: #f8f8f8; }
  .topBar .profilePhoto {
    width: 50px;
    margin-left: 300px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    -webkit-background-size: cover;
    background-size: cover;
    background: url("../img/user.png"); }
  .topBar p, .topBar img {
    display: inline-block; }
  .topBar img {
    position: relative;
    left: 5px;
    top: -2px; }
  .topBar .name {
    position: relative;
    left: 15px;
    top: -20px;
    cursor: pointer;
    color: #243847;
    font-family: "prolight"; }
  .topBar .searchBar {
    position: absolute;
    right: 120px;
    top: 10px; }
    .topBar .searchBar .loup {
      position: relative;
      left: 25px;
      top: 6px; }
    .topBar .searchBar input {
      margin-top: 5px;
      width: 200px;
      padding: 10px;
      padding-left: 30px;
      font-family: "prolight";
      border-radius: 12px;
      border: 1px solid #b1b6ba;
      background: white;
      outline: none; }
  .topBar .notification {
    position: absolute;
    cursor: pointer;
    top: 25px;
    right: 90px; }
    .topBar .notification .count {
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      top: -15px;
      right: -12px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f77676; }
      .topBar .notification .count p {
        font-family: "prolight";
        font-size: 10px;
        color: white; }
  .topBar .burgerParent {
    position: absolute;
    top: 10px;
    right: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer; }
    .topBar .burgerParent .burger {
      position: relative;
      top: 13px; }
      .topBar .burgerParent .burger .burger1, .topBar .burgerParent .burger .burger2, .topBar .burgerParent .burger .burger3 {
        width: 15px;
        height: 2px;
        position: absolute;
        border-radius: 9px;
        background: #687178; }
      .topBar .burgerParent .burger .burger2 {
        top: 5px; }
      .topBar .burgerParent .burger .burger3 {
        top: 10px; }

.chatSection {
  position: fixed;
  right: 0;
  width: 270px;
  background: white;
  z-index: 777;
  padding-top: 15px;
  height: auto;
  min-height: 100%;
  border-left: 1px solid #ededed; }
  .chatSection ul {
    list-style: none;
    padding: 0;
    margin-top: 85px; }
    .chatSection ul li {
      cursor: pointer;
      padding-left: 30px; }
      .chatSection ul li .profilePhoto {
        width: 50px;
        display: inline-block;
        height: 50px;
        border-radius: 50%;
        position: relative; }
        .chatSection ul li .profilePhoto .online {
          width: 10px;
          height: 10px;
          background: #3ace01;
          border-radius: 50%;
          position: absolute;
          bottom: 2px;
          right: 1px; }
      .chatSection ul li p {
        display: inline-block;
        position: relative;
        top: -20px;
        left: 10px;
        color: #8e8e8e;
        font-family: "prolight"; }

#live-chat {
  bottom: 0;
  font-size: 12px;
  right: 24px;
  z-index: 998;
  border: 1px solid #e4e6e7;
  border-radius: 9px;
  font-family: "prolight";
  position: fixed;
  width: 300px; }
  #live-chat .chatClose {
    position: absolute;
    right: 5px;
    top: 10px; }
  #live-chat header {
    background: #e5e5e5;
    border-radius: 5px 5px 0 0;
    color: #fff;
    cursor: pointer;
    padding: 1px; }
  #live-chat h4 {
    color: #818181;
    font-size: 12px; }
    #live-chat h4:before {
      background: #e5e5e5;
      border-radius: 50%;
      content: "";
      display: inline-block;
      height: 8px;
      margin: 0 8px 0 0;
      width: 8px; }
  #live-chat h5 {
    font-size: 10px; }
  #live-chat form textarea {
    border-radius: 3px;
    padding: 15px;
    border: unset;
    font-family: "prolight";
    outline: none;
    width: 100%; }
  #live-chat .counter {
    width: 10px;
    background: #f77676;
    height: 10px;
    position: absolute;
    right: 45px;
    top: 15px;
    display: none;
    padding: 4px;
    font-size: 10px;
    font-family: "prolight";
    border-radius: 50%;
    justify-content: center;
    align-items: center; }
  #live-chat .flex {
    display: flex !important; }
  #live-chat .chat {
    background: #f8f8f8;
    overflow: hidden; }
  #live-chat .chat-history {
    height: 252px;
    padding: 8px 24px;
    overflow-y: scroll; }
    #live-chat .chat-history .date {
      color: #b2b2b2;
      width: 100%;
      text-align: center;
      display: block;
      font-size: 8px;
      letter-spacing: 1px; }
    #live-chat .chat-history ul {
      list-style: none;
      padding: 0;
      margin-top: 0;
      text-align: center; }
      #live-chat .chat-history ul li {
        display: inline-table;
        vertical-align: middle;
        cursor: pointer;
        padding-left: 10px; }
    #live-chat .chat-history .senderBox {
      background: #f0336b;
      margin-top: 7px;
      float: right;
      width: 85%;
      height: auto;
      min-height: 50px;
      padding: 5px;
      margin-right: -10px;
      border-radius: 7px; }
      #live-chat .chat-history .senderBox p {
        font-family: "prolight";
        color: white;
        letter-spacing: 1px; }
    #live-chat .chat-history .recipientBox {
      background: #f0f0f0;
      margin-top: 7px;
      float: left;
      width: 85%;
      height: auto;
      min-height: 50px;
      padding: 5px;
      margin-left: 10px;
      border-radius: 7px;
      position: relative; }
      #live-chat .chat-history .recipientBox .profilePicture {
        position: absolute;
        left: -25px;
        top: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-size: cover !important; }
      #live-chat .chat-history .recipientBox p {
        font-family: "prolight";
        color: #a1a1a5;
        letter-spacing: 1px; }
  #live-chat .chat-message {
    margin: 16px 0; }
    #live-chat .chat-message img {
      border-radius: 50%;
      float: left; }
  #live-chat .chat-message-content {
    margin-left: 56px; }
  #live-chat .chat-time {
    float: right;
    font-size: 10px; }
  #live-chat .chat-feedback {
    font-style: italic;
    margin: 0 0 0 80px; }

.overlayPopup {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.43);
  display: none;
  justify-content: center;
  align-items: center; }
  .overlayPopup .overlay {
    padding: 10px 30px;
    font-family: "prolight";
    width: 350px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    background: white; }
    .overlayPopup .overlay .closeDiv {
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px; }
    .overlayPopup .overlay h4 {
      color: grey;
      letter-spacing: 1px; }
    .overlayPopup .overlay form {
      margin-top: 30px; }
      .overlayPopup .overlay form label {
        display: block;
        color: #c4c4c4; }
      .overlayPopup .overlay form input, .overlayPopup .overlay form textarea, .overlayPopup .overlay form select {
        display: block;
        resize: none;
        font-family: "prolight";
        margin-bottom: 15px;
        width: 100%;
        border: unset;
        padding-left: 0;
        padding-bottom: 10px;
        outline: none;
        border-bottom: 1px solid #ebebeb;
        padding-top: 6px; }
      .overlayPopup .overlay form .plus {
        width: 10px;
        cursor: pointer;
        position: absolute;
        right: -15px;
        top: 32px; }
      .overlayPopup .overlay form .spajalica {
        width: 15px;
        position: absolute;
        right: 0;
        cursor: pointer;
        bottom: 25px; }
      .overlayPopup .overlay form .kontakti {
        list-style: none;
        padding: 0;
        padding-top: 10px; }
        .overlayPopup .overlay form .kontakti li {
          display: inline-block; }
          .overlayPopup .overlay form .kontakti li div {
            width: 100px;
            height: 30px;
            position: relative;
            border-radius: 15px;
            background: #d8d8d8; }
            .overlayPopup .overlay form .kontakti li div p {
              margin-left: 10px;
              position: relative;
              top: 4px; }
            .overlayPopup .overlay form .kontakti li div img {
              position: absolute;
              right: 10px;
              cursor: pointer;
              width: 15px;
              top: 8px; }

.wrapper {
  width: auto;
  padding-top: 60px;
  position: relative;
  height: auto;
  margin-left: 250px;
  min-width: 1400px; }
  .wrapper .magacinSection {
    width: 350px !important; }
  .wrapper .section {
    width: 300px;
    height: 100%;
    display: inline-grid;
    font-family: "prolight";
    padding: 15px;
    border-right: 1px solid #ededed; }
    .wrapper .section .content .projekat {
      width: 100%;
      margin-bottom: 20px;
      height: 100px;
      border: 1px solid #f57b9f;
      overflow: hidden;
      background: #f8f8f8;
      border-radius: 9px;
      position: relative; }
      .wrapper .section .content .projekat .contentWrapper {
        position: relative;
        left: 10px;
        top: -10px; }
        .wrapper .section .content .projekat .contentWrapper .closeDiv {
          position: absolute;
          right: 15px;
          top: -3px;
          cursor: pointer; }
        .wrapper .section .content .projekat .contentWrapper h4 {
          font-weight: bold;
          color: #a4aaae; }
        .wrapper .section .content .projekat .contentWrapper p {
          font-size: 12px;
          position: absolute;
          top: 9px;
          color: #a4aaae; }
        .wrapper .section .content .projekat .contentWrapper .info {
          list-style: none;
          padding: 0;
          position: relative;
          bottom: -20px; }
          .wrapper .section .content .projekat .contentWrapper .info li {
            display: inline-block;
            color: #f24c7d;
            font-weight: bold;
            font-size: 12px; }
        .wrapper .section .content .projekat .contentWrapper .icons {
          padding: 0;
          position: absolute;
          right: 16px;
          top: 38px; }
          .wrapper .section .content .projekat .contentWrapper .icons li {
            display: inline-block;
            padding-left: 1px;
            cursor: pointer; }
    .wrapper .section .content .roseBack {
      background: #fbcdda; }
      .wrapper .section .content .roseBack h4, .wrapper .section .content .roseBack p {
        color: #f24c7d !important; }
    .wrapper .section .content .beforeActive:before {
      width: 4px;
      height: 100%;
      position: absolute;
      background: #00b0ff;
      left: 0;
      top: 0;
      content: "";
      display: block; }
    .wrapper .section .content .bigBox {
      width: 100%;
      height: 200px;
      margin-bottom: 20px;
      text-align: center;
      background: #f8f8f8;
      border: 1px solid #f57b9f;
      border-radius: 9px;
      overflow: hidden;
      position: relative;
      font-family: "prolight"; }
      .wrapper .section .content .bigBox .text {
        font-size: 12px;
        color: #acb1b5;
        text-align: left;
        margin-left: 10px;
        margin-right: 10px; }
      .wrapper .section .content .bigBox .active .title {
        width: 100%;
        position: relative;
        height: 45px;
        padding: 0 10px;
        background: #f6c7d5;
        border-bottom: 1px solid #f0336b; }
        .wrapper .section .content .bigBox .active .title .closeDiv {
          position: absolute;
          cursor: pointer;
          right: 25px;
          top: 5px; }
        .wrapper .section .content .bigBox .active .title p, .wrapper .section .content .bigBox .active .title h4 {
          color: #f0336b;
          position: absolute;
          font-weight: bold;
          font-size: 16px; }
        .wrapper .section .content .bigBox .active .title h4 {
          top: -17px; }
        .wrapper .section .content .bigBox .active .title p {
          bottom: -6px;
          font-size: 12px; }
      .wrapper .section .content .bigBox .active .leftBtn, .wrapper .section .content .bigBox .active .rightBtn {
        position: absolute;
        padding: 5px 30px;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: "prothin";
        transition: .2s; }
        .wrapper .section .content .bigBox .active .leftBtn:hover, .wrapper .section .content .bigBox .active .rightBtn:hover {
          transform: scale(1.05); }
      .wrapper .section .content .bigBox .active .leftBtn {
        bottom: 10px;
        left: 15px;
        border: 1px solid #f0336b;
        color: #f0336b;
        background: #f8f8f8;
        font-size: 12px; }
      .wrapper .section .content .bigBox .active .rightBtn {
        right: 15px;
        font-size: 12px;
        bottom: 10px;
        border: 1px solid #f0336b;
        color: white;
        background: #f0336b; }
      .wrapper .section .content .bigBox .nonActive .title {
        background: #f8f8f8;
        border-bottom: 1px solid #acb1b5; }
        .wrapper .section .content .bigBox .nonActive .title p, .wrapper .section .content .bigBox .nonActive .title h4 {
          color: #acb1b5; }
      .wrapper .section .content .bigBox .nonActive .leftBtn {
        border: 1px solid #a4aaae;
        color: #a4aaae; }
      .wrapper .section .content .bigBox .nonActive .rightBtn {
        border: 1px solid #a4aaae;
        background: #a4aaae;
        color: white; }
      .wrapper .section .content .bigBox .topTitle {
        font-size: 12px;
        margin-top: 5px;
        color: #ababab; }
      .wrapper .section .content .bigBox .list1, .wrapper .section .content .bigBox .list2, .wrapper .section .content .bigBox .list3 {
        padding: 0;
        list-style: none; }
        .wrapper .section .content .bigBox .list1 li, .wrapper .section .content .bigBox .list2 li, .wrapper .section .content .bigBox .list3 li {
          display: inline-table;
          vertical-align: middle;
          cursor: pointer;
          margin-top: -10px;
          font-family: "prolight";
          color: #f0336b;
          font-weight: bold;
          padding-right: 5px; }
    .wrapper .section .content .magacin .activeBox {
      background: #fbcdda !important;
      border: 1px solid #f0336b !important; }
      .wrapper .section .content .magacin .activeBox p, .wrapper .section .content .magacin .activeBox h4 {
        color: #f0336b !important; }
    .wrapper .section .content .magacin .box {
      width: 100%;
      height: 90px;
      border: 1px solid #a9afb3;
      border-radius: 9px;
      background: #f8f8f8;
      font-family: "prolight";
      margin-bottom: 10px;
      position: relative; }
      .wrapper .section .content .magacin .box .profilePhoto {
        position: absolute;
        left: 10px;
        top: 20px;
        width: 50px;
        height: 50px;
        background-size: cover !important;
        border-radius: 50%; }
      .wrapper .section .content .magacin .box .moreOptions {
        position: absolute;
        right: 10px;
        cursor: pointer;
        top: 30px; }
      .wrapper .section .content .magacin .box .contentWrapper {
        position: relative;
        left: 75px; }
        .wrapper .section .content .magacin .box .contentWrapper h4, .wrapper .section .content .magacin .box .contentWrapper p {
          color: #b0b5b9; }
        .wrapper .section .content .magacin .box .contentWrapper h4 {
          margin-top: 10px; }
        .wrapper .section .content .magacin .box .contentWrapper .info1 {
          font-size: 13px;
          margin-top: -10px; }
        .wrapper .section .content .magacin .box .contentWrapper .info2 {
          margin-top: -10px;
          font-size: 13px; }
    .wrapper .section .content .magacin .articleDetails {
      padding: 15px;
      font-family: "prolight"; }
      .wrapper .section .content .magacin .articleDetails .articleInfoImage {
        text-align: center;
        margin-top: -15px; }
      .wrapper .section .content .magacin .articleDetails .kontaktHeader {
        text-align: center;
        margin-bottom: 30px;
        margin-top: -30px; }
        .wrapper .section .content .magacin .articleDetails .kontaktHeader .profilePicture {
          width: 100px;
          height: 100px;
          background-size: cover !important;
          border-radius: 50%;
          display: inline-block; }
        .wrapper .section .content .magacin .articleDetails .kontaktHeader .basicInfo {
          display: inline-block;
          position: relative;
          left: 20px; }
          .wrapper .section .content .magacin .articleDetails .kontaktHeader .basicInfo p {
            position: relative;
            top: -20px;
            width: 25px; }
      .wrapper .section .content .magacin .articleDetails h1, .wrapper .section .content .magacin .articleDetails p {
        color: #969696; }
      .wrapper .section .content .magacin .articleDetails .info1, .wrapper .section .content .magacin .articleDetails .info2 {
        position: relative;
        top: -5px; }
      .wrapper .section .content .magacin .articleDetails .info2 {
        top: -20px; }
      .wrapper .section .content .magacin .articleDetails .separatorDiv {
        border-left: 1px solid #a9afb3;
        margin-bottom: 0;
        float: right; }
        .wrapper .section .content .magacin .articleDetails .separatorDiv ul {
          list-style: none;
          -webkit-margin-before: 0; }
          .wrapper .section .content .magacin .articleDetails .separatorDiv ul li {
            color: #a5abaf;
            text-align: center; }
        .wrapper .section .content .magacin .articleDetails .separatorDiv .level1 {
          margin-top: 40px;
          margin-bottom: 50px; }
          .wrapper .section .content .magacin .articleDetails .separatorDiv .level1 li {
            position: relative;
            left: -15px; }
        .wrapper .section .content .magacin .articleDetails .separatorDiv .level2 li {
          position: relative;
          left: -230px;
          top: -18px;
          font-weight: bold; }
      .wrapper .section .content .magacin .articleDetails .kontaktPage .level1 li {
        text-align: left; }
      .wrapper .section .content .magacin .articleDetails .kontaktPage .level2 li {
        position: relative;
        left: -200px;
        top: -18px;
        text-align: right;
        font-weight: bold; }
      .wrapper .section .content .magacin .articleDetails .price {
        color: #969696;
        font-weight: bold;
        float: right;
        margin-right: 50px;
        margin-top: 50px; }
    .wrapper .section .clearFloat {
      clear: both; }
    .wrapper .section .completeList {
      list-style: none;
      padding: 0; }
      .wrapper .section .completeList li {
        margin-bottom: 10px; }
        .wrapper .section .completeList li .completeDiv {
          width: 100%;
          border: 2px solid #c2c6c8;
          border-radius: 9px;
          background: #e5e5e5;
          height: 50px;
          position: relative; }
          .wrapper .section .completeList li .completeDiv .closeDiv {
            position: absolute;
            right: 5px;
            cursor: pointer;
            top: 12px; }
          .wrapper .section .completeList li .completeDiv p {
            color: #a4aaae;
            text-decoration: line-through;
            position: relative;
            letter-spacing: 1px;
            display: inline-block;
            left: 10px;
            font-weight: bold; }
          .wrapper .section .completeList li .completeDiv h4 {
            display: inline-block;
            margin-left: 70px;
            font-weight: bold; }
          .wrapper .section .completeList li .completeDiv .rose {
            color: #f0336b; }
          .wrapper .section .completeList li .completeDiv .grey {
            color: #818181; }
          .wrapper .section .completeList li .completeDiv .blue {
            color: #4ac3fa; }
  .wrapper .lastSection .optionWrapper {
    left: -6px !important; }
  .wrapper .sharePoint {
    width: 100%;
    height: 65px;
    position: relative; }
    .wrapper .sharePoint .sharePointIcon {
      position: absolute;
      left: 10px;
      top: 20px; }
    .wrapper .sharePoint ul {
      padding: 0;
      position: absolute;
      right: 0;
      top: -8px; }
      .wrapper .sharePoint ul li {
        padding: 2px;
        cursor: pointer;
        display: inline-block; }
        .wrapper .sharePoint ul li:last-child img {
          position: relative;
          top: -8px; }
    .wrapper .sharePoint .optionWrapper {
      position: relative;
      z-index: 777;
      display: none;
      left: 35px;
      top: -5px; }
      .wrapper .sharePoint .optionWrapper .options {
        width: 140px;
        height: auto;
        border: 1px solid #cbced1;
        background: white;
        position: absolute;
        right: -20px;
        top: 60px;
        border-radius: 9px; }
        .wrapper .sharePoint .optionWrapper .options:before {
          content: "";
          background: white;
          display: block;
          width: 30px;
          z-index: -1;
          height: 30px;
          border: 1px solid #cbced1;
          position: absolute;
          left: 48%;
          top: 7px;
          transform: rotate(45deg) translate(-50%); }
        .wrapper .sharePoint .optionWrapper .options:after {
          content: "";
          display: block;
          position: absolute;
          background: white;
          width: 18px;
          left: 63px;
          top: -1px;
          height: 2px; }
        .wrapper .sharePoint .optionWrapper .options ul {
          list-style: none;
          padding: 0;
          text-align: center;
          position: relative; }
          .wrapper .sharePoint .optionWrapper .options ul li {
            padding: 10px 20px;
            font-family: "prolight";
            width: 101px;
            color: #c6c9cc;
            transition: .2s; }
            .wrapper .sharePoint .optionWrapper .options ul li:last-child {
              margin-bottom: -10px; }
            .wrapper .sharePoint .optionWrapper .options ul li:hover {
              background: #fbcdda;
              color: #f0336b;
              font-weight: bold; }
    .wrapper .sharePoint .centerList {
      text-align: center !important;
      width: 100%; }
      .wrapper .sharePoint .centerList li {
        padding-left: 6px; }

.disk {
  width: 87%;
  padding-top: 60px;
  position: relative;
  height: auto;
  margin-left: 250px; }
  .disk .content .sharePoint {
    width: 100%;
    height: 65px;
    position: relative;
    text-align: center; }
    .disk .content .sharePoint .sharePointIcon {
      position: absolute;
      left: 10px;
      top: 20px; }
    .disk .content .sharePoint ul {
      padding: 0; }
      .disk .content .sharePoint ul li {
        padding: 5px;
        cursor: pointer;
        display: inline-block; }
        .disk .content .sharePoint ul li:last-child img {
          position: relative;
          top: -8px; }
    .disk .content .sharePoint .optionWrapper {
      position: relative;
      z-index: 777;
      display: none;
      left: 35px;
      top: -5px; }
      .disk .content .sharePoint .optionWrapper .options {
        width: 140px;
        height: auto;
        border: 1px solid #cbced1;
        background: white;
        position: absolute;
        right: -20px;
        top: 60px;
        border-radius: 9px; }
        .disk .content .sharePoint .optionWrapper .options:before {
          content: "";
          background: white;
          display: block;
          width: 30px;
          z-index: -1;
          height: 30px;
          border: 1px solid #cbced1;
          position: absolute;
          left: 48%;
          top: 7px;
          transform: rotate(45deg) translate(-50%); }
        .disk .content .sharePoint .optionWrapper .options:after {
          content: "";
          display: block;
          position: absolute;
          background: white;
          width: 18px;
          left: 63px;
          top: -1px;
          height: 2px; }
        .disk .content .sharePoint .optionWrapper .options ul {
          list-style: none;
          padding: 0;
          text-align: center;
          position: relative; }
          .disk .content .sharePoint .optionWrapper .options ul li {
            padding: 10px 20px;
            font-family: "prolight";
            width: 101px;
            color: #c6c9cc;
            transition: .2s; }
            .disk .content .sharePoint .optionWrapper .options ul li:last-child {
              margin-bottom: -10px; }
            .disk .content .sharePoint .optionWrapper .options ul li:hover {
              background: #fbcdda;
              color: #f0336b;
              font-weight: bold; }
    .disk .content .sharePoint .centerList {
      text-align: center !important;
      width: 100%; }
      .disk .content .sharePoint .centerList li {
        padding-left: 6px; }
  .disk .content .diskWrapper ul {
    list-style: none;
    width: 80%; }
    .disk .content .diskWrapper ul li {
      display: inline-block;
      padding-left: 50px;
      margin-bottom: 50px;
      cursor: pointer; }
      .disk .content .diskWrapper ul li .diskBox {
        font-family: "prolight";
        width: 100px;
        height: 85px;
        border-radius: 20px;
        padding: 25px 15px;
        text-align: center;
        position: relative; }
        .disk .content .diskWrapper ul li .diskBox .optionDots {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          right: 0;
          transition: .2s;
          height: 30px;
          border-radius: 50%;
          top: 0; }
          .disk .content .diskWrapper ul li .diskBox .optionDots .optionWrapper {
            position: relative;
            z-index: 777;
            left: 35px;
            display: none;
            top: -5px; }
            .disk .content .diskWrapper ul li .diskBox .optionDots .optionWrapper .options {
              width: 140px;
              height: auto;
              border: 1px solid #cbced1;
              background: white;
              position: absolute;
              right: -25px;
              top: 20px;
              border-radius: 9px; }
              .disk .content .diskWrapper ul li .diskBox .optionDots .optionWrapper .options:before {
                content: "";
                background: white;
                display: block;
                width: 30px;
                z-index: -1;
                height: 30px;
                border: 1px solid #cbced1;
                position: absolute;
                left: 48%;
                top: 7px;
                transform: rotate(45deg) translate(-50%); }
              .disk .content .diskWrapper ul li .diskBox .optionDots .optionWrapper .options:after {
                content: "";
                display: block;
                position: absolute;
                background: white;
                width: 18px;
                left: 63px;
                top: -1px;
                height: 2px; }
              .disk .content .diskWrapper ul li .diskBox .optionDots .optionWrapper .options ul {
                list-style: none;
                padding: 0;
                text-align: center;
                margin-top: 10px;
                position: relative;
                margin-bottom: 20px; }
                .disk .content .diskWrapper ul li .diskBox .optionDots .optionWrapper .options ul li {
                  padding: 10px 20px;
                  font-family: "prolight";
                  width: 101px;
                  color: #c6c9cc;
                  margin-bottom: 0;
                  transition: .2s; }
                  .disk .content .diskWrapper ul li .diskBox .optionDots .optionWrapper .options ul li:last-child {
                    margin-bottom: -10px; }
                  .disk .content .diskWrapper ul li .diskBox .optionDots .optionWrapper .options ul li:hover {
                    background: #fbcdda;
                    color: #f0336b;
                    font-weight: bold; }
          .disk .content .diskWrapper ul li .diskBox .optionDots:hover {
            background: #d9d9d9; }
      .disk .content .diskWrapper ul li:first-child img {
        position: relative;
        top: -30px; }
      .disk .content .diskWrapper ul li:nth-child(2) .diskBox {
        border: 1px solid #f0336b;
        background: #fbcdda; }
      .disk .content .diskWrapper ul li:nth-child(2) .optionDots {
        background: transparent; }
        .disk .content .diskWrapper ul li:nth-child(2) .optionDots:hover {
          background: transparent; }

.borderTimeline {
  border-left: 1px solid #a4aaae;
  padding-right: 40px;
  height: auto;
  float: right;
  margin-top: 50px; }
  .borderTimeline .timeline {
    list-style: none;
    padding: 0;
    margin-left: 15px;
    margin-top: -20px;
    margin-bottom: -40px; }
    .borderTimeline .timeline .activeBefore .dateInfo {
      position: absolute;
      left: -90px;
      top: -20px; }
      .borderTimeline .timeline .activeBefore .dateInfo p {
        font-size: 12px;
        color: #f0336b;
        position: relative; }
        .borderTimeline .timeline .activeBefore .dateInfo p:nth-child(1) {
          left: 10px;
          top: 10px; }
        .borderTimeline .timeline .activeBefore .dateInfo p:nth-child(2) {
          font-size: 17px;
          font-weight: bold;
          left: -20px;
          top: -5px; }
        .borderTimeline .timeline .activeBefore .dateInfo p:nth-child(3) {
          top: -15px;
          left: 25px; }
    .borderTimeline .timeline .activeBefore:before {
      width: 15px !important;
      height: 15px !important;
      background: #f0336b !important; }
    .borderTimeline .timeline .greyInfo .dateInfo {
      position: absolute;
      left: -90px;
      top: -20px; }
      .borderTimeline .timeline .greyInfo .dateInfo p {
        font-size: 12px;
        color: #b0b5b8;
        position: relative; }
        .borderTimeline .timeline .greyInfo .dateInfo p:nth-child(1) {
          font-size: 17px;
          font-weight: bold;
          left: -20px;
          top: 17px; }
        .borderTimeline .timeline .greyInfo .dateInfo p:nth-child(2) {
          font-size: 12px;
          color: #b0b5b8;
          left: 25px;
          position: relative;
          top: 8px; }
    .borderTimeline .timeline .before {
      position: relative; }
      .borderTimeline .timeline .before:before {
        content: "";
        display: block;
        width: 10px;
        left: -15px;
        height: 10px;
        border: 2px solid #a4aaae;
        background: white;
        border-radius: 50%;
        position: absolute;
        top: 35%;
        transform: translate(-50%); }
    .borderTimeline .timeline li {
      margin-bottom: 20px; }
      .borderTimeline .timeline li .box {
        width: auto;
        max-width: 200px;
        height: 50px;
        border: 1px solid #cbced1;
        border-radius: 30px;
        background: #f8f8f8;
        position: relative; }
        .borderTimeline .timeline li .box .profilePhoto {
          width: 40px;
          height: 40px;
          position: absolute;
          left: 5px;
          top: 5px;
          border-radius: 50%;
          overflow: hidden;
          background-size: cover !important; }
        .borderTimeline .timeline li .box .name {
          font-size: 13px;
          margin-left: 55px;
          margin-top: 8px;
          color: #5b5b5b; }
        .borderTimeline .timeline li .box .info {
          color: #a4aaae;
          font-size: 12px;
          margin-left: 55px;
          margin-top: -10px; }
        .borderTimeline .timeline li .box .options {
          list-style: none;
          padding: 0;
          margin-left: 55px;
          margin-top: 6px; }
          .borderTimeline .timeline li .box .options li {
            display: inline-table;
            vertical-align: middle;
            background: white;
            border-radius: 50%;
            cursor: pointer;
            padding: 5px;
            margin-right: 5px; }
            .borderTimeline .timeline li .box .options li img {
              width: 25px; }
      .borderTimeline .timeline li .smallerBox {
        width: 150px; }
      .borderTimeline .timeline li .smallestBox {
        width: 100px; }

.c2 p, .c2 h4 {
  position: relative;
  top: -5px; }

.showDiv {
  display: block !important; }

.settingsDiv {
  width: auto;
  padding-top: 60px;
  position: relative;
  height: auto;
  margin-left: 250px;
  min-width: 1400px; }
  .settingsDiv .settingsWrapper {
    padding: 50px; }
    .settingsDiv .settingsWrapper .section {
      font-family: "prolight";
      margin-bottom: 50px; }
      .settingsDiv .settingsWrapper .section h3 {
        color: #a4aaae; }
      .settingsDiv .settingsWrapper .section form {
        padding-top: 20px;
        padding-left: 60px; }
        .settingsDiv .settingsWrapper .section form .inputWrapper {
          margin-bottom: 15px; }
          .settingsDiv .settingsWrapper .section form .inputWrapper .radioGroup, .settingsDiv .settingsWrapper .section form .inputWrapper .checkboxGroup {
            display: inline-block;
            margin-left: 125px; }
            .settingsDiv .settingsWrapper .section form .inputWrapper .radioGroup label, .settingsDiv .settingsWrapper .section form .inputWrapper .checkboxGroup label {
              margin-right: 15px; }
          .settingsDiv .settingsWrapper .section form .inputWrapper .fileLocation {
            width: 300px;
            height: 30px;
            border: 1px solid #bebebe;
            border-radius: 5px;
            margin-top: 20px; }
            .settingsDiv .settingsWrapper .section form .inputWrapper .fileLocation p {
              position: relative;
              left: 25px;
              top: -8px;
              color: #bebebe;
              font-size: 14px;
              font-family: "prolight"; }
          .settingsDiv .settingsWrapper .section form .inputWrapper label {
            color: #a4aaae;
            font-weight: bold; }
          .settingsDiv .settingsWrapper .section form .inputWrapper select {
            margin-top: 10px;
            width: 130px;
            border-radius: 5px;
            outline: none;
            padding: 5px 10px;
            font-size: 12px;
            font-family: "prolight"; }
          .settingsDiv .settingsWrapper .section form .inputWrapper input {
            padding: 10px;
            border: unset;
            font-family: "prolight";
            outline: none;
            margin-top: 10px; }
          .settingsDiv .settingsWrapper .section form .inputWrapper .borderInput {
            border: 1px solid #a1a1a1;
            border-radius: 5px;
            padding: 5px 10px;
            width: 200px;
            margin-left: 0;
            font-size: 13px;
            margin-top: 10px;
            display: block; }

.fileContainer {
  overflow: hidden;
  position: relative;
  padding: 7px 30px;
  cursor: pointer;
  letter-spacing: 1px;
  width: 100%;
  height: 53px;
  left: 311px;
  top: -26px;
  color: #bebebe;
  font-size: 14px;
  font-family: "prolight";
  border: 1px solid #bebebe;
  border-radius: 5px; }

.fileContainer [type=file] {
  cursor: inherit;
  display: block;
  filter: alpha(opacity=0);
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0; }

.customLabel {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .customLabel input {
    position: absolute;
    opacity: 0; }

/* Hide the browser's default checkbox */
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee; }

/* On mouse-over, add a grey background color */
.customLabel {
  display: inline-block; }
  .customLabel:hover input ~ .checkmark {
    background-color: #ccc; }
  .customLabel input:checked ~ .checkmark {
    background-color: #f0336b; }

/* When the checkbox is checked, add a blue background */
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.customLabel input:checked ~ .checkmark:after {
  display: block; }

.customLabel .checkmark:after {
  left: 4px;
  top: 1px;
  width: 7px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

/* Style the checkmark/indicator */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666; }

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff; }

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #f0336b;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.rangeContainer input {
  width: 250px;
  margin-left: -10px; }

input[type=range] {
  -webkit-appearance: none;
  background: none; }

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px; }

input[type=range]::-ms-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px; }

input[type=range]::-moz-range-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #f0336b;
  margin-top: -5px;
  position: relative; }

input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #f0336b;
  margin-top: -5px;
  position: relative; }

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative; }

input[type=range]:focus {
  outline: none; }
  input[type=range]:focus::-webkit-slider-thumb:after {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    border-radius: 5px;
    color: #555;
    padding: 5px 10px;
    border: 2px solid #555; }
  input[type=range]:focus::-ms-thumb:after {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    border-radius: 5px;
    color: #555;
    padding: 5px 10px;
    border: 2px solid #555; }
  input[type=range]:focus::-moz-range-thumb:after {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    border-radius: 5px;
    color: #555;
    padding: 5px 10px;
    border: 2px solid #555; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc; }

input[type=range]:focus::-ms-track {
  background: #ccc; }

input[type=range]:focus::-moz-range-track {
  background: #ccc; }
