
// fonts
@font-face {
  font-family: 'prothin';
  src: url('../font/prothin.otf');
}

@font-face {
  font-family: 'promedium';
  src: url('../font/promedium.otf');
}

@font-face {
  font-family: 'prolight';
  src: url('../font/prolight.otf');
}

$prothin: 'prothin';
$prolight: 'prolight';
$promedium: 'promedium';

$roseColor: #f0336b;
$roseBox: #fbcdda;
$grey: #b1b6ba;
$lightgrey: #ededed;
$softwhite: #f0f0f0;
$boxGrey: #f8f8f8;

