@import "external";

body, html {
    line-height: unset;
    font-size: unset;
}
div {
    box-sizing: content-box;
    display: block;
}
input {
    line-height: 0;
}
label {
    max-width: unset;
    display: unset;
    margin-bottom: 0;
}
:after, :before {
    box-sizing: unset !important;
}
* {
    box-sizing: content-box;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

img {
    vertical-align: unset;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .75em;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    font-weight: bold;
}
input, select, textarea {
    font-size: 13px !important;
}
//  Login Page
.loginPage {
    width: 100%;
    height: 100vh;
    .left {
        float: left;
        width: 50%;
        height: 100%;
        background: $roseColor;
        position: relative;
        .logo {
            position: absolute;
            top: 50%;
            right: -45px;
            transform: translate(-50%)
        }
    }
    .right {
        float: right;
        width: 50%;
        position: relative;
        height: 100%;
        .form {
            font-family: $prolight;
            position: absolute;
            top: 45%;
            left: 50px;
            margin-bottom: 50px;
            div {
                margin-bottom: 20px;
            }
            label {
                display: block;
                margin-bottom: 5px;
                color: $grey;
            }
            input {
                padding: 5px 10px;
                border: 1px solid $grey;
                border-radius: 4px;
                outline: none;
                font-family: $prolight;
            }
        }
    }
}

// Main Page
.sidebar {
    width: 250px;
    height: auto;
    position: fixed;
    z-index: 22;
    z-index: 889;
    background: white;
    min-height: 100%;
    border-right: 1px solid $lightgrey;
    .activeLink {
        position: relative;
        background: $boxGrey;
        font-weight: bold;
        p {
            color: black !important;
        }
        &:before {
            position: absolute;
            content: "";
            display: block;
            width: 5px;
            height: 100%;
            top: 0;
            left: 0;
            background: $roseColor;
        }
    }
    .head {
        width: 100%;
        height: 125px;
        background: $roseColor;
        .logo {
            position: relative;
            top: 35px;
            left: 20px;
        }
    }
    .links {
        ul {
            padding: 0;
            margin-top: 0;
            list-style: none;
            li {
                padding: 10px 30px;
                font-family: $prolight;
                cursor: pointer;
                transition: .2s;
                &:hover {
                    background: $boxGrey;
                }
                a {
                    text-decoration: none;
                    color: black;
                    display: block;
                }
                img, p {
                    display: inline-block;
                    position: relative;
                }
                img {
                    top: 10px;
                }
                p {
                    left: 15px;
                    color: #a4aaae;
                    letter-spacing: 1px;
                }
            }
        }
    }
}

// Top Bar
.topBar {
    width: 100%;
    height: 60px;
    position: fixed;
    padding-top: 10px;
    z-index: 888;
    background: $boxGrey;
    .profilePhoto {
        width: 50px;
        margin-left: 300px;
        height: 50px;
        border-radius: 50%;
        display: inline-block;
        overflow: hidden;
        -webkit-background-size: cover;
        background-size: cover;
        background: url("../img/user.png");
    }
    p, img {
        display: inline-block;
    }
    img {
        position: relative;
        left: 5px;
        top: -2px;
    }
    .name {
        position: relative;
        left: 15px;
        top: -20px;
        cursor: pointer;
        color: #243847;
        font-family: $prolight;
    }
    .searchBar {
        position: absolute;
        right: 120px;
        top: 10px;
        .loup {
            position: relative;
            left: 25px;
            top: 6px;
        }
        input {
            margin-top: 5px;
            width: 200px;
            padding: 10px;
            padding-left: 30px;
            font-family: $prolight;
            border-radius: 12px;
            border: 1px solid $grey;
            background: white;
            outline: none;
        }
    }
    .notification {
        position: absolute;
        cursor: pointer;
        top: 25px;
        right: 90px;
        .count {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            top: -15px;
            right: -12px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #f77676;
            p {
                font-family: $prolight;
                font-size: 10px;
                color: white;
            }

        }
    }
    .burgerParent {
        position: absolute;
        top: 10px;
        right: 30px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        .burger {
            position: relative;
            top: 13px;
            .burger1, .burger2, .burger3 {
                width: 15px;
                height: 2px;
                position: absolute;
                border-radius: 9px;
                background: #687178;
            }
            .burger2 {
                top: 5px;
            }
            .burger3 {
                top: 10px;
            }
        }
    }
}

// Chat sidebar
.chatSection {
    position: fixed;
    right: 0;
    width: 270px;
    background: white;
    z-index: 777;
    padding-top: 15px;
    height: auto;
    min-height: 100%;
    border-left: 1px solid $lightgrey;
    ul {
        list-style: none;
        padding: 0;
        margin-top: 85px;
        li {
            cursor: pointer;
            padding-left: 30px;
            .profilePhoto {
                width: 50px;
                display: inline-block;
                height: 50px;
                border-radius: 50%;
                position: relative;
                .online {
                    width: 10px;
                    height: 10px;
                    background: #3ace01;
                    border-radius: 50%;
                    position: absolute;
                    bottom: 2px;
                    right: 1px;
                }
            }
            p {
                display: inline-block;
                position: relative;
                top: -20px;
                left: 10px;
                color: #8e8e8e;
                font-family: $prolight;
            }
        }
    }
}

#live-chat {
    bottom: 0;
    font-size: 12px;
    right: 24px;
    z-index: 998;
    border: 1px solid #e4e6e7;
    border-radius: 9px;
    font-family: $prolight;
    position: fixed;
    width: 300px;
    .chatClose {
        position: absolute;
        right: 5px;
        top: 10px;
    }
    header {
        background: #e5e5e5;
        border-radius: 5px 5px 0 0;
        color: #fff;
        cursor: pointer;
        padding: 1px;
    }
    h4 {
        color: #818181;
        &:before {
            background: #e5e5e5;
            border-radius: 50%;
            content: "";
            display: inline-block;
            height: 8px;
            margin: 0 8px 0 0;
            width: 8px;
        }
        font-size: 12px;
    }
    h5 {
        font-size: 10px;
    }
    form {
        textarea {
            border-radius: 3px;
            padding: 15px;
            border: unset;
            font-family: $prolight;
            outline: none;
            width: 100%;
        }
    }
    .counter {
        width: 10px;
        background: #f77676;
        height: 10px;
        position: absolute;
        right: 45px;
        top: 15px;
        display: none;
        padding: 4px;
        font-size: 10px;
        font-family: $prolight;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }
    .flex {
        display: flex !important;
    }
    .chat {
        background: $boxGrey;
        overflow: hidden;
    }
    .chat-history {
        height: 252px;
        padding: 8px 24px;
        overflow-y: scroll;
        .date {
            color: #b2b2b2;
            width: 100%;
            text-align: center;
            display: block;
            font-size: 8px;
            letter-spacing: 1px;
        }
        ul {
            list-style: none;
            padding: 0;
            margin-top: 0;
            text-align: center;
            li {
                display: inline-table;
                vertical-align: middle;
                cursor: pointer;
                padding-left: 10px;
            }
        }
        .senderBox {
            background: $roseColor;
            margin-top: 7px;
            float: right;
            width: 85%;
            height: auto;
            min-height: 50px;
            padding: 5px;
            margin-right: -10px;
            border-radius: 7px;
            p {
                font-family: $prolight;
                color: white;
                letter-spacing: 1px;
            }
        }
        .recipientBox {
            background: #f0f0f0;
            margin-top: 7px;
            float: left;
            width: 85%;
            height: auto;
            min-height: 50px;
            padding: 5px;
            margin-left: 10px;
            border-radius: 7px;
            position: relative;
            .profilePicture {
                position: absolute;
                left: -25px;
                top: 0;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-size: cover !important;
            }
            p {
                font-family: $prolight;
                color: #a1a1a5;
                letter-spacing: 1px;
            }
        }
    }
    .chat-message {
        margin: 16px 0;
        img {
            border-radius: 50%;
            float: left;
        }
    }
    .chat-message-content {
        margin-left: 56px;
    }
    .chat-time {
        float: right;
        font-size: 10px;
    }
    .chat-feedback {
        font-style: italic;
        margin: 0 0 0 80px;
    }
}

//Overlay
.overlayPopup {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.43);
    display: none;
    justify-content: center;
    align-items: center;
    .overlay {
        padding: 10px 30px;
        font-family: $prolight;
        width: 350px;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative;
        background: white;
        .closeDiv {
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 10px;
        }
        h4 {
            color: grey;
            letter-spacing: 1px;
        }
        form {
            margin-top: 30px;
            label {
                display: block;
                color: #c4c4c4;
            }
            input, textarea, select {
                display: block;
                resize: none;
                font-family: "prolight";
                margin-bottom: 15px;
                width: 100%;
                border: unset;
                padding-left: 0;
                padding-bottom: 10px;
                outline: none;
                border-bottom: 1px solid #ebebeb;
                padding-top: 6px;
            }
            .plus {
                width: 10px;
                cursor: pointer;
                position: absolute;
                right: -15px;
                top: 32px;
            }
            .spajalica {
                width: 15px;
                position: absolute;
                right: 0;
                cursor: pointer;
                bottom: 25px;
            }
            .kontakti {
                list-style: none;
                padding: 0;
                padding-top: 10px;
                li {
                    display: inline-block;
                    div {
                        width: 100px;
                        height: 30px;
                        position: relative;
                        border-radius: 15px;
                        background: #d8d8d8;
                        p {
                            margin-left: 10px;
                            position: relative;
                            top: 4px;
                        }
                        img {
                            position: absolute;
                            right: 10px;
                            cursor: pointer;
                            width: 15px;
                            top: 8px;
                        }
                    }
                }
            }
        }
    }
}

// Content
.wrapper {
    width: auto;
    padding-top: 60px;
    position: relative;
    height: auto;
    margin-left: 250px;
    min-width: 1400px;
    .magacinSection {
        width: 350px !important;
    }
    .section {
        width: 300px;
        height: 100%;
        display: inline-grid;
        font-family: $prolight;
        padding: 15px;
        border-right: 1px solid #ededed;
        .content {
            .projekat {
                width: 100%;
                margin-bottom: 20px;
                height: 100px;
                border: 1px solid #f57b9f;
                overflow: hidden;
                background: $boxGrey;
                border-radius: 9px;
                position: relative;
                .contentWrapper {
                    position: relative;
                    left: 10px;
                    top: -10px;
                    .closeDiv {
                        position: absolute;
                        right: 15px;
                        top: -3px;
                        cursor: pointer;
                    }
                    h4 {
                        font-weight: bold;
                        color: #a4aaae;
                    }
                    p {
                        font-size: 12px;
                        position: absolute;
                        top: 9px;
                        color: #a4aaae;
                    }
                    .info {
                        list-style: none;
                        padding: 0;
                        position: relative;
                        bottom: -20px;
                        li {
                            display: inline-block;
                            color: #f24c7d;
                            font-weight: bold;
                            font-size: 12px;
                        }
                    }
                    .icons {
                        padding: 0;
                        position: absolute;
                        right: 16px;
                        top: 38px;
                        li {
                            display: inline-block;
                            padding-left: 1px;
                            cursor: pointer;
                        }
                    }
                }
            }
            .roseBack {
                background: $roseBox;
                h4, p {
                    color: #f24c7d !important;
                }
            }
            .beforeActive {
                &:before {
                    width: 4px;
                    height: 100%;
                    position: absolute;
                    background: #00b0ff;
                    left: 0;
                    top: 0;
                    content: "";
                    display: block;
                }
            }

            .bigBox {
                width: 100%;
                height: 200px;
                margin-bottom: 20px;
                text-align: center;
                background: $boxGrey;
                border: 1px solid #f57b9f;
                border-radius: 9px;
                overflow: hidden;
                position: relative;
                font-family: $prolight;
                .text {
                    font-size: 12px;
                    color: #acb1b5;
                    text-align: left;
                    margin-left: 10px;
                    margin-right: 10px;
                }
                .active {
                    .title {
                        width: 100%;
                        position: relative;
                        height: 45px;
                        padding: 0 10px;
                        background: #f6c7d5;
                        border-bottom: 1px solid $roseColor;
                        .closeDiv {
                            position: absolute;
                            cursor: pointer;
                            right: 25px;
                            top: 5px;
                        }
                        p, h4 {
                            color: $roseColor;
                            position: absolute;
                            font-weight: bold;
                            font-size: 16px;
                        }
                        h4 {
                            top: -17px
                        }
                        p {
                            bottom: -6px;
                            font-size: 12px;
                        }
                    }
                    .leftBtn, .rightBtn {
                        position: absolute;
                        padding: 5px 30px;
                        outline: none;
                        border-radius: 5px;
                        cursor: pointer;
                        font-family: $prothin;
                        transition: .2s;
                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                    .leftBtn {
                        bottom: 10px;
                        left: 15px;
                        border: 1px solid $roseColor;
                        color: $roseColor;
                        background: $boxGrey;
                        font-size: 12px;
                    }
                    .rightBtn {
                        right: 15px;
                        font-size: 12px;
                        bottom: 10px;
                        border: 1px solid $roseColor;
                        color: white;
                        background: $roseColor;
                    }
                }
                .nonActive {
                    .title {
                        background: $boxGrey;
                        border-bottom: 1px solid #acb1b5;
                        p, h4 {
                            color: #acb1b5;
                        }
                    }
                    .leftBtn {
                        border: 1px solid #a4aaae;
                        color: #a4aaae;
                    }
                    .rightBtn {
                        border: 1px solid #a4aaae;
                        background: #a4aaae;
                        color: white;
                    }
                }
                .topTitle {
                    font-size: 12px;
                    margin-top: 5px;
                    color: #ababab;
                }
                .list1, .list2, .list3 {
                    padding: 0;
                    list-style: none;
                    li {
                        display: inline-table;
                        vertical-align: middle;
                        cursor: pointer;
                        margin-top: -10px;
                        font-family: $prolight;
                        color: $roseColor;
                        font-weight: bold;
                        padding-right: 5px;
                    }
                }
            }
            .magacin {
                .activeBox {
                    background: $roseBox !important;
                    border: 1px solid $roseColor !important;
                    p, h4 {
                        color: $roseColor !important;
                    }
                }
                .box {
                    width: 100%;
                    height: 90px;
                    border: 1px solid #a9afb3;
                    border-radius: 9px;
                    background: $boxGrey;
                    font-family: $prolight;
                    margin-bottom: 10px;
                    position: relative;
                    .profilePhoto {
                        position: absolute;
                        left: 10px;
                        top: 20px;
                        width: 50px;
                        height: 50px;
                        background-size: cover !important;
                        border-radius: 50%;
                    }
                    .moreOptions {
                        position: absolute;
                        right: 10px;
                        cursor: pointer;
                        top: 30px;
                    }
                    .contentWrapper {
                        position: relative;
                        left: 75px;
                        h4, p {
                            color: #b0b5b9;
                        }
                        h4 {
                            margin-top: 10px;
                        }
                        .info1 {
                            font-size: 13px;
                            margin-top: -10px;
                        }
                        .info2 {
                            margin-top: -10px;
                            font-size: 13px;
                        }
                    }
                }
                .articleDetails {
                    padding: 15px;
                    font-family: $prolight;
                    .articleInfoImage {
                        text-align: center;
                        margin-top: -15px;
                    }
                    .kontaktHeader {
                        text-align: center;
                        margin-bottom: 30px;
                        margin-top: -30px;
                        .profilePicture {
                            width: 100px;
                            height: 100px;
                            background-size: cover !important;
                            border-radius: 50%;
                            display: inline-block;
                        }
                        .basicInfo {
                            display: inline-block;
                            position: relative;
                            left: 20px;
                            p {
                                position: relative;
                                top: -20px;
                                width: 25px;
                            }
                        }
                    }
                    h1, p {
                        color: #969696;
                    }
                    .info1, .info2 {
                        position: relative;
                        top: -5px;
                    }
                    .info2 {
                        top: -20px;
                    }
                    .separatorDiv {
                        border-left: 1px solid #a9afb3;
                        margin-bottom: 0;
                        float: right;
                        ul {
                            list-style: none;
                            -webkit-margin-before: 0;
                            li {
                                color: #a5abaf;
                                text-align: center;
                            }
                        }
                        .level1 {
                            margin-top: 40px;
                            margin-bottom: 50px;
                            li {
                                position: relative;
                                left: -15px;
                            }
                        }
                        .level2 {
                            li {
                                position: relative;
                                left: -230px;
                                top: -18px;
                                font-weight: bold;
                            }
                        }
                    }
                    .kontaktPage {
                        .level1 {
                            li {
                                text-align: left;
                            }
                        }
                        .level2 {
                            li {
                                position: relative;
                                left: -200px;
                                top: -18px;
                                text-align: right;
                                font-weight: bold;
                            }
                        }
                    }
                    .price {
                        color: #969696;
                        font-weight: bold;
                        float: right;
                        margin-right: 50px;
                        margin-top: 50px;
                    }
                }
            }
        }

        .clearFloat {
            clear: both;
        }
        .completeList {
            list-style: none;
            padding: 0;
            li {
                margin-bottom: 10px;
                .completeDiv {
                    width: 100%;
                    border: 2px solid #c2c6c8;
                    border-radius: 9px;
                    background: #e5e5e5;
                    height: 50px;
                    position: relative;
                    .closeDiv {
                        position: absolute;
                        right: 5px;
                        cursor: pointer;
                        top: 12px;
                    }
                    p {
                        color: #a4aaae;
                        text-decoration: line-through;
                        position: relative;
                        letter-spacing: 1px;
                        display: inline-block;
                        left: 10px;
                        font-weight: bold;
                    }
                    h4 {
                        display: inline-block;
                        margin-left: 70px;
                        font-weight: bold;
                    }
                    .rose {
                        color: $roseColor;
                    }
                    .grey {
                        color: #818181;
                    }
                    .blue {
                        color: #4ac3fa;
                    }
                }
            }
        }

    }
    .lastSection {
        .optionWrapper {
            left: -6px !important;
        }
    }
    .sharePoint {
        width: 100%;
        height: 65px;
        position: relative;
        .sharePointIcon {
            position: absolute;
            left: 10px;
            top: 20px;
        }
        ul {
            padding: 0;
            position: absolute;
            right: 0;
            top: -8px;
            li {
                padding: 2px;
                cursor: pointer;
                display: inline-block;
                &:last-child {
                    img {
                        position: relative;
                        top: -8px;
                    }
                }
            }
        }
        .optionWrapper {
            position: relative;
            z-index: 777;
            display: none;
            left: 35px;
            top: -5px;
            .options {
                width: 140px;
                height: auto;
                border: 1px solid #cbced1;
                background: white;
                position: absolute;
                right: -20px;
                top: 60px;
                border-radius: 9px;
                &:before {
                    content: "";
                    background: white;
                    display: block;
                    width: 30px;
                    z-index: -1;
                    height: 30px;
                    border: 1px solid #cbced1;
                    position: absolute;
                    left: 48%;
                    top: 7px;
                    transform: rotate(45deg) translate(-50%);
                }
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    background: white;
                    width: 18px;
                    left: 63px;
                    top: -1px;
                    height: 2px;
                }
                ul {
                    list-style: none;
                    padding: 0;
                    text-align: center;
                    position: relative;
                    li {
                        padding: 10px 20px;
                        font-family: "prolight";
                        width: 101px;
                        color: #c6c9cc;
                        transition: .2s;
                        &:last-child {
                            margin-bottom: -10px;
                        }
                        &:hover {
                            background: $roseBox;
                            color: $roseColor;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        .centerList {
            text-align: center !important;
            width: 100%;
            li {
                padding-left: 6px;
            }
        }
    }
}

.disk {
    width: 87%;
    padding-top: 60px;
    position: relative;
    height: auto;
    margin-left: 250px;
    .content {
        .sharePoint {
            width: 100%;
            height: 65px;
            position: relative;
            text-align: center;
            .sharePointIcon {
                position: absolute;
                left: 10px;
                top: 20px;
            }
            ul {
                padding: 0;
                li {
                    padding: 5px;
                    cursor: pointer;
                    display: inline-block;
                    &:last-child {
                        img {
                            position: relative;
                            top: -8px;
                        }
                    }
                }
            }
            .optionWrapper {
                position: relative;
                z-index: 777;
                display: none;
                left: 35px;
                top: -5px;
                .options {
                    width: 140px;
                    height: auto;
                    border: 1px solid #cbced1;
                    background: white;
                    position: absolute;
                    right: -20px;
                    top: 60px;
                    border-radius: 9px;
                    &:before {
                        content: "";
                        background: white;
                        display: block;
                        width: 30px;
                        z-index: -1;
                        height: 30px;
                        border: 1px solid #cbced1;
                        position: absolute;
                        left: 48%;
                        top: 7px;
                        transform: rotate(45deg) translate(-50%);
                    }
                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        background: white;
                        width: 18px;
                        left: 63px;
                        top: -1px;
                        height: 2px;
                    }
                    ul {
                        list-style: none;
                        padding: 0;
                        text-align: center;
                        position: relative;
                        li {
                            padding: 10px 20px;
                            font-family: "prolight";
                            width: 101px;
                            color: #c6c9cc;
                            transition: .2s;
                            &:last-child {
                                margin-bottom: -10px;
                            }
                            &:hover {
                                background: $roseBox;
                                color: $roseColor;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            .centerList {
                text-align: center !important;
                width: 100%;
                li {
                    padding-left: 6px;
                }
            }
        }
        .diskWrapper {
            //padding: 50px 200px;
            ul {
                list-style: none;
                width: 80%;
                li {
                    display: inline-block;
                    padding-left: 50px;
                    margin-bottom: 50px;
                    cursor: pointer;
                    .diskBox {
                        font-family: $prolight;
                        width: 100px;
                        height: 85px;
                        border-radius: 20px;
                        padding: 25px 15px;
                        text-align: center;
                        position: relative;
                        .optionDots {
                            position: absolute;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 30px;
                            right: 0;
                            transition: .2s;
                            height: 30px;
                            border-radius: 50%;
                            top: 0;
                            .optionWrapper {
                                position: relative;
                                z-index: 777;
                                left: 35px;
                                display: none;
                                top: -5px;
                                .options {
                                    width: 140px;
                                    height: auto;
                                    border: 1px solid #cbced1;
                                    background: white;
                                    position: absolute;
                                    right: -25px;
                                    top: 20px;
                                    border-radius: 9px;
                                    &:before {
                                        content: "";
                                        background: white;
                                        display: block;
                                        width: 30px;
                                        z-index: -1;
                                        height: 30px;
                                        border: 1px solid #cbced1;
                                        position: absolute;
                                        left: 48%;
                                        top: 7px;
                                        transform: rotate(45deg) translate(-50%);
                                    }
                                    &:after {
                                        content: "";
                                        display: block;
                                        position: absolute;
                                        background: white;
                                        width: 18px;
                                        left: 63px;
                                        top: -1px;
                                        height: 2px;
                                    }
                                    ul {
                                        list-style: none;
                                        padding: 0;
                                        text-align: center;
                                        margin-top: 10px;
                                        position: relative;
                                        margin-bottom: 20px;
                                        li {
                                            padding: 10px 20px;
                                            font-family: "prolight";
                                            width: 101px;
                                            color: #c6c9cc;
                                            margin-bottom: 0;
                                            transition: .2s;
                                            &:last-child {
                                                margin-bottom: -10px;
                                            }
                                            &:hover {
                                                background: $roseBox;
                                                color: $roseColor;
                                                font-weight: bold;
                                            }
                                        }
                                    }
                                }
                            }

                            &:hover {
                                background: #d9d9d9;
                            }
                        }
                    }
                    &:first-child {
                        img {
                            position: relative;
                            top: -30px;
                        }
                    }
                    &:nth-child(2) {
                        .diskBox {
                            border: 1px solid $roseColor;
                            background: $roseBox;
                        }
                        .optionDots {
                            background: transparent;
                            &:hover {
                                background: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}

.borderTimeline {
    border-left: 1px solid #a4aaae;
    padding-right: 40px;
    height: auto;
    float: right;
    margin-top: 50px;
    .timeline {
        list-style: none;
        padding: 0;
        margin-left: 15px;
        margin-top: -20px;
        margin-bottom: -40px;
        .activeBefore {
            .dateInfo {
                position: absolute;
                left: -90px;
                top: -20px;
                p {
                    font-size: 12px;
                    color: $roseColor;
                    position: relative;
                    &:nth-child(1) {
                        left: 10px;
                        top: 10px;
                    }
                    &:nth-child(2) {
                        font-size: 17px;
                        font-weight: bold;
                        left: -20px;
                        top: -5px;
                    }
                    &:nth-child(3) {
                        top: -15px;
                        left: 25px;
                    }
                }
            }
            &:before {
                width: 15px !important;
                height: 15px !important;
                background: $roseColor !important;
            }
        }
        .greyInfo {
            .dateInfo {
                position: absolute;
                left: -90px;
                top: -20px;
                p {
                    font-size: 12px;
                    color: #b0b5b8;
                    position: relative;
                    &:nth-child(1) {
                        font-size: 17px;
                        font-weight: bold;
                        left: -20px;
                        top: 17px;
                    }
                    &:nth-child(2) {
                        font-size: 12px;
                        color: #b0b5b8;
                        left: 25px;
                        position: relative;
                        top: 8px;
                    }
                }
            }
        }
        .before {
            position: relative;
            &:before {
                content: "";
                display: block;
                width: 10px;
                left: -15px;
                height: 10px;
                border: 2px solid #a4aaae;
                background: white;
                border-radius: 50%;
                position: absolute;
                top: 35%;
                transform: translate(-50%);
            }
        }
        li {
            margin-bottom: 20px;
            .box {
                width: auto;
                max-width: 200px;
                height: 50px;
                border: 1px solid #cbced1;
                border-radius: 30px;
                background: $boxGrey;
                position: relative;
                .profilePhoto {
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    left: 5px;
                    top: 5px;
                    border-radius: 50%;
                    overflow: hidden;
                    background-size: cover !important;
                }
                .name {
                    font-size: 13px;
                    margin-left: 55px;
                    margin-top: 8px;
                    color: #5b5b5b;
                }
                .info {
                    color: #a4aaae;
                    font-size: 12px;
                    margin-left: 55px;
                    margin-top: -10px;
                }
                .options {
                    list-style: none;
                    padding: 0;
                    margin-left: 55px;
                    margin-top: 6px;
                    li {
                        display: inline-table;
                        vertical-align: middle;
                        background: white;
                        border-radius: 50%;
                        cursor: pointer;
                        padding: 5px;
                        margin-right: 5px;
                        img {
                            width: 25px;
                        }
                    }
                }
            }
            .smallerBox {
                width: 150px;
            }
            .smallestBox {
                width: 100px;
            }
        }
    }
}

.c2 {
    p, h4 {
        position: relative;
        top: -5px;
    }
}

.showDiv {
    display: block !important;
}

// Settings

.settingsDiv {
    width: auto;
    padding-top: 60px;
    position: relative;
    height: auto;
    margin-left: 250px;
    min-width: 1400px;
    .settingsWrapper {
        padding: 50px;
        .section {
            font-family: $prolight;
            margin-bottom: 50px;
            h3 {
                color: #a4aaae;
            }
            form {
                padding-top: 20px;
                padding-left: 60px;
                .inputWrapper {
                    margin-bottom: 15px;
                    .radioGroup, .checkboxGroup {
                        display: inline-block;
                        margin-left: 125px;
                        label {
                            margin-right: 15px;
                        }
                    }
                    .fileLocation {
                        width: 300px;
                        height: 30px;
                        border: 1px solid #bebebe;
                        border-radius: 5px;
                        margin-top: 20px;
                        p {
                            position: relative;
                            left: 25px;
                            top: -8px;
                            color: #bebebe;
                            font-size: 14px;
                            font-family: $prolight;
                        }
                    }
                    label {
                        color: #a4aaae;
                        font-weight: bold;
                    }
                    select {
                        margin-top: 10px;
                        width: 130px;
                        border-radius: 5px;
                        outline: none;
                        padding: 5px 10px;
                        font-size: 12px;
                        font-family: $prolight;
                    }
                    input {
                        padding: 10px;
                        border: unset;
                        font-family: $prolight;
                        outline: none;
                        margin-top: 10px;
                    }
                    .borderInput {
                        border: 1px solid #a1a1a1;
                        border-radius: 5px;
                        padding: 5px 10px;
                        width: 200px;
                        margin-left: 0;
                        font-size: 13px;
                        margin-top: 10px;
                        display: block;
                    }
                }
            }
        }
    }
}

.fileContainer {
    overflow: hidden;
    position: relative;
    padding: 7px 30px;
    cursor: pointer;
    letter-spacing: 1px;
    width: 100%;
    height: 53px;
    left: 311px;
    top: -26px;
    color: #bebebe;
    font-size: 14px;
    font-family: $prolight;
    border: 1px solid #bebebe;
    border-radius: 5px;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

// Custom checkboxes

.customLabel {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
    }
}

/* Hide the browser's default checkbox */

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */

.customLabel {
    display: inline-block;
    &:hover input ~ .checkmark {
        background-color: #ccc;
    }
    input:checked ~ .checkmark {
        background-color: $roseColor;
    }
}

/* When the checkbox is checked, add a blue background */

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.customLabel {
    input:checked ~ .checkmark:after {
        display: block;
    }
    .checkmark:after {
        left: 4px;
        top: 1px;
        width: 7px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

/* Style the checkmark/indicator */

// Radio

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: $roseColor;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

//Range

.rangeContainer {
    input {
        width: 250px;
        margin-left: -10px;
    }
}

input[type=range] {
    -webkit-appearance: none;
    background: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-ms-track {
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-track {
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $roseColor;
    margin-top: -5px;
    position: relative;
}

input[type=range]::-ms-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $roseColor;
    margin-top: -5px;
    position: relative;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #555;
    margin-top: -5px;
    position: relative;
}

input[type=range]:focus {
    outline: none;
    &::-webkit-slider-thumb:after {
        position: absolute;
        top: -35px;
        left: 50%;
        transform: translateX(-50%);
        background: #eee;
        border-radius: 5px;
        color: #555;
        padding: 5px 10px;
        border: 2px solid #555;
    }
    &::-ms-thumb:after {
        position: absolute;
        top: -35px;
        left: 50%;
        transform: translateX(-50%);
        background: #eee;
        border-radius: 5px;
        color: #555;
        padding: 5px 10px;
        border: 2px solid #555;
    }
    &::-moz-range-thumb:after {
        position: absolute;
        top: -35px;
        left: 50%;
        transform: translateX(-50%);
        background: #eee;
        border-radius: 5px;
        color: #555;
        padding: 5px 10px;
        border: 2px solid #555;
    }
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]:focus::-ms-track {
    background: #ccc;
}

input[type=range]:focus::-moz-range-track {
    background: #ccc;
}